<fieldset class="border p-2 text-center" >
  <h2 mat-dialog-title></h2>
  <mat-dialog-content >

    <legend class="w-auto">
      Ajouter Reglement</legend>
    <form class="example-container" [formGroup]="addReglementForm">
      <div class="row " >
        <input matInput   formControlName="id" class="hidden">
        <div class="form-group col-6">
          <label class="control-label">Nom Village:</label>
          <mat-form-field style="margin-left: 45px;">
            <input matInput placeholder="Numero Facture" class="form-control" formControlName="numero" required (blur)="FactureExist($event.target.value)">
          </mat-form-field>
        </div>
        <div class="form-group col-6">

        </div>
      </div>

      <div class="row ">
        <div class="form-group col-6">
          <label class="control-label">Montant:</label>
          <mat-form-field style="margin-left: 45px;">
            <input matInput placeholder="Montant Reglement" class="form-control" formControlName="montant" required>
          </mat-form-field>
        </div>
        <div class="form-group col-6">
          <label class="control-label">Taxes:</label>
          <mat-form-field style="margin-left: 85px;">
            <input matInput placeholder="Taxes" class="form-control" formControlName="taxe" required>
          </mat-form-field>
        </div>
      </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="addReglement()" class="btn btn-success" style="float: left;"><span >Ajouter</span></button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-danger " style="float: right;">Annuler</button>
  </mat-dialog-actions>

</fieldset>

<div class="mat-elevation-z8 spacer" style="margin-top:50px;">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="table table-bordered " matSort>

    <!-- Position Column -->
    <!-- <ng-container matColumnDef="nom">
       <th mat-header-cell *matHeaderCellDef> Nom </th>
       <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
     </ng-container>-->
    <ng-container matColumnDef="nom" >
      <th mat-header-cell *matHeaderCellDef>Nom</th>

      <td mat-cell *matCellDef="let element">  {{ element["nom"]}} </td>
    </ng-container>
    <ng-container matColumnDef="prenom" >
      <th mat-header-cell *matHeaderCellDef>Prenom</th>

      <td mat-cell *matCellDef="let element">  {{ element["prenom"]}} </td>
    </ng-container>
    <ng-container matColumnDef="email" >
      <th mat-header-cell *matHeaderCellDef>Email</th>

      <td mat-cell *matCellDef="let element">  {{ element["email"]}} </td>
    </ng-container>
    <ng-container matColumnDef="username" >
      <th mat-header-cell *matHeaderCellDef>Login</th>

      <td mat-cell *matCellDef="let element">  {{ element["username"]}} </td>
    </ng-container>
    <ng-container matColumnDef="action" >
      <th mat-header-cell *matHeaderCellDef> Action</th>

      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" matTooltip="Visualiser" (click)="openEditUserDialog(element,true)">
          <mat-icon  >remove_red_eye</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="openEditUserDialog(element,true)" matTooltip="Modifier">
          <mat-icon style="font-size: 20px">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn"   matTooltip="Supprimer">
          <mat-icon >delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

